<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugumar Parthasarathy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>  
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav-logo">
                <!-- <img src="https://i.postimg.cc/pVZn37km/logo.png" alt="" class="nav-logo-img"> -->
                <i>Sugumar</i>
            </a>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active-link">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link">About Me</a>
                    </li>

                    <li class="nav-item">
                        <a href="#work" class="nav-link">Hignlights</a>
                    </li>
                </ul>

                <div class="nav-close" id="nav-close">
                    <i class="bx bx-x"></i>
                </div>
            </div>

            <div class="nav-toggle" id="nav-toggle">
                <i class="bx bx-grid-alt"></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="home container" id="home">
            <div class="home-container" style="display: flex; align-items: center; justify-content: center;">
                <div class="home-data">
                    <h3 class="home-subtitle">Greetings</h3>
                    <h1 class="home-title w-100">I'm <span>Sugumar Parthasarathy</span></h1>
                </div>

                <div class="home-images" style="width: 30%;">
                    <img src="./assets/images/hero-1.jpeg" alt="" class="home-img w-100">

                    <!-- <div class="swiper home-swiper">
                        <div class="swiper-wrapper">
                            <img src="https://i.postimg.cc/RFv8NVhB/photography-img1.jpg" alt="" class="swiper-slide slide-img">
                            <img src="https://i.postimg.cc/vZ8nmJLV/photography-img6.jpg" alt="" class="swiper-slide slide-img">
                            <img src="https://i.postimg.cc/VLgS27QL/photography-img7.jpg" alt="" class="swiper-slide slide-img">
                            <img src="https://i.postimg.cc/7hD6WzK2/photography-img12.jpg" alt="" class="swiper-slide slide-img">
                            <img src="https://i.postimg.cc/3xP3qpRx/photography-img11.jpg" alt="" class="swiper-slide slide-img">
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="home-group grid">
                <div class="home-details">
                    <!-- <p class="home-description">I support with clients create <span> Blogs </span>, build digital <span> Website products</span> and <span> Website services</span>. Through innovation and R&D, I identify opportunities and transform ideas into value.</p> -->

                    <!-- <div class="home-social">
                        <span class="home-social-follow">View my Profile:</span>

                        <div class="home-social-links">
                            <a href="https://www.linkedin.com/" target="_blank" class="home-social-link">
                                <i class="bx bxl-linkedin-square"></i>
                                <span>View my Profile</span>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="about section" id="about">
            <div class="about-container container grid">
                <div class="pCard_card">
   <div class="pCard_up">
      <!-- <div class="pCard_text">
         <h2>Van Goggles</h2>
         <p>Some guy & some dude</p>
      </div> -->
      <!-- <div class="pCard_add"><i class="bx bx-plus"></i></div> -->
   </div>
   <div class="pCard_down">
   <div class="pCard_back">
      <p>Follow Me!</p>
<a href="https://facebook.com" target="_blank"><i class="bx bxl-facebook"></i></a>
<a href="https://linkedin.com" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="mailto:someone@example.com"><i class="bx bx-envelope"></i></a>
<a href="https://google.com" target="_blank"><i class="bx bxl-google"></i></a>
<a href="https://github.com" target="_blank"><i class="bx bxl-github"></i></a>
   </div>
   </div>

</div>

                <div class="about-data">
                    <span class="section-subtitle about-subtitle">My Intro</span>
                    <h2 class="section-title about-title">About me</h2>

                    <!-- <p class="about-description">Building modern web experiences with performance at heart</p> -->
                    <p class="about-details">I’m Sugumar Parthasarathy, I was born in Chennai and working as Senior Development Lead with 6+ years in IT. and have always been deeply connected to spirituality and personal growth. The serenity and devotion of Thiruvannamalai Temple have been a guiding light in my life, teaching me patience, humility, and the power of quiet perseverance. Visiting the temple and experiencing its sacred atmosphere inspires reflection, mindfulness, and a sense of inner peace that I carry into my daily life.</p>
<p class="about-details">My life philosophy resonates with these words:
<strong><i>"Work hard in silence, believe in the process, and let your success shout your story."</i></strong></p>
<p class="about-details">
Outside of work and spirituality, I enjoy exploring new experiences, learning from the world around me, and cherishing the relationships that enrich my life.</p>
<!-- <div class="about-award grid">
                        <img src="https://i.postimg.cc/Qxtz9JGY/award-img.png" alt="" class="award-img">

                        <div>
                            <h3 class="award-title">International Photography <br> Awards 2016</h3>
                            <p class="award-details">Celebrates a wide range of photographic genres that includes categories such as portraiture, landscape, wildlife, architecture, and fine art.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="work section" id="work">
            <span class="section-subtitle">Highlights</span>
            <h2 class="section-title">Honors, Awards & Certifications</h2>

            <div class="work-container container">

                <div class="work-content">
                    <img src="/assets/images/hub-1.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>





                <div class="work-content">
                    <img src="./assets/images/mnm-1.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>

                <div class="work-content">
                    <img src="./assets/images/john-2.JPG" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>

                <div class="work-content">
                    <img src="./assets/images/rmk-1.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>



                <div class="work-content">
                    <img src="./assets/images/john-1.JPG" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>



                <div class="work-content">
                    <img src="./assets/images/mnm-2.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>


<div class="work-content">
                    <img src="./assets/images/hub-2.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>

                <div class="work-content">
                    <img src="./assets/images/mnm-3.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>



 <div class="work-content">
                    <img src="./assets/images/mnm-4.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>


                <div class="work-content">
                    <img src="/assets/images/rmk-2.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>

                <div class="work-content">
                    <img src="./assets/images/wave.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>

                <div class="work-content">
                    <img src="./assets/images/rmk-3.jpg" alt="">
                    <div class="work-overlay"></div>
                    <i class="bx bx-camera work-overlay-icon"></i>
                </div>







            </div>
        </section>

        <!-- <section class="project section">
            <div class="project-bg">
                <div class="project-container container grid">
                    <h2 class="project-title">Want to work together?</h2>
                    <p class="project-description">I'm available for freelancer work</p>
                    <button class="button">Hire me!</button>
                </div>
            </div>
        </section> -->

       
    </main>

    <div class="lightbox">
        <div class="lightbox-content">
            <div class="lightbox-close">&times;</div>
            <img src="https://i.postimg.cc/RFv8NVhB/photography-img1.jpg" alt="" onclick="nextItem()" class="lightbox-img">
            <div class="lightbox-caption">
                <div class="caption-counter">1 of 12</div>
            </div>
        </div>

        <div class="lightbox-controls">
            <div class="prev-item" onclick="prevItem()"><i class="bx bxs-left-arrow"></i></div>
            <div class="next-item" onclick="nextItem()"><i class="bx bxs-right-arrow"></i></div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container container">
            <div class="footer-social">
                <a href="https://facebook.com" target="_blank"><i class="bx bxl-facebook"></i></a>
<a href="https://linkedin.com" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="mailto:someone@example.com"><i class="bx bx-envelope"></i></a>
<a href="https://google.com" target="_blank"><i class="bx bxl-google"></i></a>
<a href="https://github.com" target="_blank"><i class="bx bxl-github"></i></a>
      </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>
</html>